.cardResut {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid rgb(199, 187, 187);
  padding: 15px;
}

.descriptionresult {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 8;
}
.descriptionresult h1 {
  color: var(--color-darkblue);
  margin-top: 0px;
}
.desc {
  font-size: 15px;
}

.greenback {
  color: white;
  background-color: green;
  padding: 5px 2px;
  width: max-content;
  border-radius: 10px;
}
.greenSpan {
  color: green;
  font-weight: 700;
}
.should {
  font-size: 12px;
  color: green;
}
.opinionResult {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recordOpinion {
  display: flex;
  align-items: center;
  gap: 50px;
}
.opnionSpan {
  font-weight: 700;
  font-size: 20px;
}
.numberOpinion {
  background-color: var(--color-darkblue);
  padding: 5px;
  color: white;
}
.pricesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pricesContainer p {
  font-size: 30px;
}
.pricesContainer span {
  padding-bottom: 10px;
  font-size: 12px;
  color: gray;
}
